<div class="grid__item  large--one-quarter medium--one-quarter ">
	<div id="product-{{ product.id }}" class="product-container" data-publish-date="2016-03-03 21:38:00 -0500">
		<div class="product-image ">
			<div class="product-thumbnail">
				<a href="{{ product.url }}" title="">
					<img class="product-featured-image" src="{{ product.featured_image | img_url: '270x350' }}" alt="{{ product.featured_image.alt }}">
					{% comment %} <img class="back-img" src="{{ product | img_url: '270x365' }}" alt="{{ product.image.alt }}"> {% endcomment %}
				</a>
			</div>
			<!-- /.product-thumbnail -->
			<div class="product-actions">
				<form method="post" action="/cart/add" class="add-to-cart">
					<input type="hidden" name="id" value="{{ product.id }}" />
					<!-- <input type="submit" value="Buy now" class="btn" /> -->
					<button type="submit" name="add" id="AddToCart5330204289" class="btn">
						<span class="fa fa-shopping-cart"></span>
					</button>
				</form>
				<a class="btn wishlist  awe-button product-quick-whistlist" href="/account/login" data-toggle="tooltip" title="Add to whistlist">
					<i class="fa fa-heart"></i>
					<span>Add to Wishlist</span>
				</a>
				<a href="{{ product.url }}" data-id="farlap-coat-00010" class="btn product-quick-view btn-quickview" title="Quickview">
					<i class="fa fa-eye"></i>
				</a>
			</div>
		</div>
		<!-- /.product-image -->
		<div class="product-meta">
			<h4 class="product-name">
				<a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
			</h4>
			<!-- /.product-product -->
			<div class="product-price">
				<span class="amout">
					<span>
						<span class="money">{{ product.price | money }}</span>
					</span>
				</span>
			</div>
			<!-- /.product-price -->
		</div>
		<!-- /.product-meta -->
		{% comment %}
		<div class="swatch clearfix" data-option-index="1">
			<div data-value="red" class="swatch-element color red available" data-image="//cdn.shopify.com/s/files/1/1195/4332/products/coat-_32_grande.jpg?v=1460085086">
				<label for="swatch-1-red" style="background-color: red;">
					red
				</label>
			</div>
			<div data-value="blue" class="swatch-element color blue available" data-image="//cdn.shopify.com/s/files/1/1195/4332/products/coat-_34_grande.jpg?v=1460085104">
				<label for="swatch-1-blue" style="background-color: blue;">
					blue
				</label>
			</div>
			<div data-value="orange" class="swatch-element color orange available">
				<label for="swatch-1-orange" style="background-color: orange;">
					orange
				</label>
			</div>
			<div data-value="white" class="swatch-element color white available" data-image="//cdn.shopify.com/s/files/1/1195/4332/products/coat-_20_grande.jpeg?v=1457059084">
				<label for="swatch-1-white" style="background-color: white;">
					white
				</label>
			</div>
		</div> {% endcomment %}
	</div>
	<!-- product-container -->
</div>